@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600;700&family=Merriweather&family=Roboto+Condensed:wght@100;200;300;400;600;700&display=swap');

.article {
    width: 70%;
    margin: 10% 0 0 30%;
}

.title {
    font-family: 'Merriweather', serif;
}

.lead {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(112, 112, 112);
}

.corpo {
    initial-letter: 3;
}